.myImg{
    width: 30vw;
    height: inherit;
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.myImg img{
    height: inherit;
    border-radius: 8px;
    border: 1px solid black;
    opacity: 1;
}

